<div class="div-principal-01">
    <!--header cabeçalho-->
    <header class="container-header">
        <div class="item01-header">
            <h1>ArPuro</h1>
        </div>
        <div class="item02-header">
            <ul>
                <li>Home</li>
                <li id="distancia-list">Sobre-nós</li>
                <li>Contato</li>
            </ul>
        </div>
        <div class="item03-header">
            <ul>
                <li id="ld-destaque-list">login</li>
                <li id="destaque-list">Cadastre-se</li>
            </ul>
        </div>
    </header>

    <!--Parte principal-->
    <section class="container-principal">
        <div class="consulta-campos">
            <h1>Consultar AQI</h1>
            <div class="campos">
                <label for="">Cidades:</label>
                <select id="cb_cidade">
                    <option value="" >Selecione uma cidade</option>
                </select>
                <button id="btn">Consultar</button>
            </div>
        </div>


        <img id="desaparecer" class="imgFlorest" src="../../assets/imagens/florestaConsult.svg" alt="">

        <div id="aparecer" class="container-resultado-principal">
            
            <div class="resultado-item1">
                <img src="../../assets/imagens/imgTempo.svg" alt="">
            </div>
            <div class="resultado-item2">
                <p id="resultado-aqi">Resultado da consulta AQI: 50<p>
                <h3>Recomendações:</h3>
                <div class="resultado">
                    <p id="resultado-text">Bom (0-50)<br><br>
                        "Se o AQI está na faixa de 0 a 50, a qualidade do ar é excelente. É seguro para todos praticarem atividades ao ar livre como caminhadas, corridas e esportes. Aproveite para respirar o ar puro e exercitar-se fora de casa!"</p>
                </div>
            </div>
        </div>


    </section>
</div>